{% extends "base_site.html" %}
{% load static %}

{% block css %}
    <style>

        .center-content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .image {
            flex: 0 0 auto;
            margin-right: 20px;
        }
        .ads {
            width: 500px;
            height: 800px;
            top: 0;
            object-fit: cover;
        }
    </style>
{% endblock %}
{% block head %}
    <div class="row">
        <div class="col-12" style="padding: 0;">
            <img src="{% static "image/photo.jpg" %}" alt="" class="img-fluid" style="width: 100%; height: 100px;">
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="d-flex"></div>
    
        <div class="container mt-4" style="margin-top: 200px;">
            <div class="row justify-content-center">
                {% for movie in movies %}
                    <div class="col-md-2 mb-4">
                        <div class="card" style="height:500px;">
                            <p class="text-center">Сейчас в кино</p>
                            <img src="{{ movie.main_image.url }}" style="height:345px;" class="card-img-top" alt="Movie">
                            <div class="card-body">
                                <a href="{% url 'main:filmpage' movie.id movie.seo_url %}" class="card-title" style="text-decoration:none;">{{ movie.title }}</a>
                                <button class="btn btn-primary">Купить билет</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="image">
        <img src="{% static "image/photo.jpg" %}" alt="image" class="ads img-fluid" style="width: 200px; height: 800px;">
    </div>
{% endblock %}