{% extends "base_site.html" %}
{% load static %}

{% block css %}
<style>
    /* Стили для формы и ее элементов */
    .filter-form {
        margin: auto;
        max-width: 600px; /* Ширина формы */
    }
    .form-group {
        margin-bottom: 10px; /* Уменьшенный отступ между элементами формы */
    }

    /* Стили для таблицы */
    .sessions-table {
        margin: auto;
        max-width: 1200px; /* Ширина таблицы */
    }
    .booking-btn {
        padding: 8px 16px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
</style>
{% endblock css %}

{% block content %}
<!-- Форма фильтров -->
<div class="container filter-form">
    <form method="GET" action="{% url 'main:filter_sessions' %}">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="cinema">Кинотеатр:</label>
                    <select class="form-control" id="cinema" name="cinema">
                        <option value="">Все кинотеатры</option>
                        {% for cinema in cinemas %}
                            <option value="{{ cinema.id }}">{{ cinema.title }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="hall">Зал:</label>
                    <select class="form-control" id="hall" name="hall">
                        <option value="">Все залы</option>
                        {% for hall in halls %}
                            <option value="{{ hall.number }}">{{ hall.number }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="movie">Фильм:</label>
                    <select class="form-control" id="movie" name="movie">
                        <option value="">Все фильмы</option>
                        {% for movie in movies %}
                            <option value="{{ movie.id }}">{{ movie.title }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Тип фильма:</label><br>
                    {% for type in movie_types %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" value="{{ type.0 }}" name="types[]">
                            <label class="form-check-label" for="">{{ type.1 }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Применить фильтры</button>
        </div>
    </form>
</div>

<!-- Таблица сеансов -->
<div class="container sessions-table">
    <table class="table table-striped">
        <!-- Заголовки таблицы -->
        <thead>
            <tr>
                <th>Название</th>
                <th>Цена</th>
                <th>Время</th>
                <th>Зал</th>
                <th style='width:200px;'>Бронирование</th> <!-- Уменьшена ширина для кнопки -->
            </tr>
        </thead>
        <!-- Тело таблицы -->
        <tbody>
            {% for session in sessions %}
                <tr>
                    <td>{{ session.movie.title }}</td>
                    <td>{{ session.price }}</td>
                    <td>{{ session.time }}</td>
                    <td>{{ session.cinemahall.number }}</td>
                    <td><a href="{% url 'main:bronirovanie' session.id%}" class="btn btn-success booking-btn">Бронировать</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}