{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
{% endblock %}

{% block content %}
{% for error in form.errors %}
    <p>{{ error }}</p>
{% endfor %}

<div class="container" style="margin-top: 100px;">
    <form method="post" enctype="multipart/form-data" id="image-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_title">Назва:</label>
            <input type="text" class="form-control" id="id_title" name="title" placeholder="Введіть назву {{ name }}" >
        </div>
        <div class="form-group">
            <label for="id_description">Опис:</label>
            <textarea class="form-control" id="id_description" name="description" placeholder="Введіть опис {{ name }}"></textarea>
        </div>
        <div class="form-group">
            <label for="id_main_image">Головне зображення:</label>
            <input type="file" class="form-control-file" id="id_main_image" name="main_image" placeholder="Завантажте головне зображення">
            <img id="main-image-preview" src="#" alt="Preview" style="display: none; max-width: 100px; max-height: 100px;">
        </div>

        <label for="mainImage">Галерея картинок</label>
        <div id="image-container" class="row justify-content-center mt-3">
            {{ gallery_formset.management_form }}
            {% for form in gallery_formset.forms %}
                {{ form.image }}
            {% endfor %}
        </div>
        <button type="button" id="add-image-btn" class="btn btn-success mt-3">Додати ще картинку</button>
        <div class="form-group">
            <label>Тип кино:</label><br>
            {% for type in form.type %}
                <div class="form-check form-check-inline">
                    {{ type }}
                    <label class="form-check-label">{{ type.choice_label }}</label>
                </div>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="id_url_trailer">Посилання на відео:</label>
            <input type="text" class="form-control" id="id_url_trailer" name="url_trailer" placeholder="Введіть посилання на відео з YouTube">
        </div>
        <div class="form-group">
            <label for="id_seo_url">SEO URL:</label>
            <input type="text" class="form-control" id="id_seo_url" name="seo_url" placeholder="Введіть SEO URL" >
        </div>
        <div class="form-group">
            <label for="id_seo_title">SEO Title:</label>
            <input type="text" class="form-control" id="id_seo_title" name="seo_title" placeholder="Введіть SEO Title" >
        </div>
        <div class="form-group">
            <label for="id_seo_keywords">SEO Keywords:</label>
            <input type="text" class="form-control" id="id_seo_keywords" name="seo_keywords" placeholder="Введіть SEO Keywords" >
        </div>
        <div class="form-group">
            <label for="id_description_seo">SEO Description:</label>
            <textarea class="form-control" id="id_description_seo" name="description_seo" placeholder="Введіть SEO Description"></textarea>
        </div>
        <button type="submit" class="btn btn-success mt-5">Зберегти</button>
    </form>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    const addImageButton = document.getElementById("add-image-btn");
    const imageContainer = document.getElementById("image-container");
    const formTotalForms = document.getElementById("id_form-TOTAL_FORMS");
    let formCount = {{ gallery_formset.total_form_count }};

    // Add Image Button
    addImageButton.addEventListener("click", function() {
        addImageField();
    });

    // Function to add image field
    function addImageField() {
        const formset = document.createElement('div');
        formset.innerHTML = `
            <div class="card" style="width: 18rem;">
                <img src="{% static 'image/photo.jpg' %}" class="card-img-top preview" alt="Preview" style="width: 288px; height: 288px;">
                <div class="card-body">
                    <input type="file" name="form-${formCount}-image" class="form-control-file">
                    <button type="button" class="btn btn-danger btn-sm mt-2 delete-image-btn">Удалить</button>

                </div>
            </div>
        `;
        imageContainer.appendChild(formset);
        formCount++;
        formTotalForms.value = formCount;
    }

    // Event listener for any change in image container
    imageContainer.addEventListener("change", function(event) {
        const input = event.target;
        if (input && input.type === "file") {
            previewImage(input, input.closest('.card').querySelector('.preview'));
        }
    });

    // Function to preview image
    function previewImage(input, preview) {
        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function(e) {
                preview.src = e.target.result;
                preview.style.display = "block";
            };
            reader.readAsDataURL(input.files[0]);
        } else {
            preview.src = "#";
            preview.style.display = "none";
        }
    }
    imageContainer.addEventListener("click", function(event) {
    if (event.target && event.target.classList.contains("delete-image-btn")) {
        const card = event.target.closest(".card");
        card.remove(); // Удаляем карточку из DOM
        formCount--; // Уменьшаем счетчик форм
        formTotalForms.value = formCount; // Обновляем значение счетчика форм

        // Обновляем значения атрибута "name" у всех полей форм в формсете
        imageContainer.querySelectorAll('.card').forEach((card, index) => {
            const fileInput = card.querySelector('input[type="file"]');
            fileInput.name = `form-${index}-image`;
        });
    }
});
});
</script>
{% endblock content %}
