{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'banner/banner.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
{% endblock css %}
{% block content %}
<h1 class="text-center">Список фильмов текущих</h1>
<div class="container border border-secondary rounded-top" id="cardContainer">
    <form method="post" enctype="multipart/form-data" id="bannerForm">
        {% csrf_token %}
        <div id="image-container" class="row justify-content-center mt-3">
            {{ formset.management_form }}
            {% for form in formset.forms %}
                {{ form.image }}
            {% endfor %}
        </div>
        <button class="btn btn-success add_photo" type="button" id="add-image-btn">Добавить фото</button>
        <button class="btn btn-success" type="submit">Сохранить</button>
    </form>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const addImageButton = document.getElementById("add-image-btn");
    const imageContainer = document.getElementById("image-container");
    const formTotalForms = document.getElementById("id_form-TOTAL_FORMS");
    let formCount = {{ formset.total_form_count }};

    // Add Image Button
    addImageButton.addEventListener("click", function() {
        addImageField();
    });

    // Function to add image field
    function addImageField() {
        const formset = document.createElement('div');
        formset.innerHTML = `
            <div class="card" style="width: 18rem;">
                <img src="{% static 'image/photo.jpg' %}" class="card-img-top preview" alt="Preview" style="width: 288px; height: 288px;">
                <div class="card-body">
                    <input type="file" name="form-${formCount}-image" class="form-control-file">
                    <input type="text" name="form-${formCount}-url" class="form-control-file">
                    <input type="text" name="form-${formCount}-text" class="form-control-file">
                    <button type="button" class="btn btn-danger btn-sm mt-2 delete-image-btn">Удалить</button>

                </div>
            </div>
        `;
        imageContainer.appendChild(formset);
        formCount++;
        formTotalForms.value = formCount;
    }

});

</script>
{% endblock content %}
