{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.6/css/jquery.dataTables.css">
<style>
    .border-outline {
        border: 2px solid black;
        padding: 10px;
        margin-bottom: 20px;
    }
</style>
{% endblock css %}

{% block content %}
<div class="container border-outline">
    <div class="row">
        <div class="col-md-6">
            <div class="border-outline">
                <h2 class="text-center">Рассылка</h2>
                <form id="emailForm" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="recipient">Кому слать:</label><br>
                        <input type="radio" id="allUsers" name="recipientType" value="allUsers">
                        <label for="allUsers">Все пользователи</label><br>
                        <input type="radio" id="selective" name="recipientType" value="selective">
                        <label for="selective">Выборочно</label>
                        <button type="button" id="selectUsersButton" class="btn btn-secondary">Выбрать пользователей</button>
                    </div>
                    <div class="mb-3">
                        <label for="emailFile">Загрузить письмо:</label>
                        <input type="file" id="emailFile" name="emailFile">
                        <p>Шаблон используемый в рассылке: <span id="selectedFileName"></span></p>
                        <input type="hidden" id="selectedFileInput" name="file_name" value="">
                    </div>
                    <div class="mb-3">
                        <p>Кол-во писем: 123</p>
                        <p>Рассылка выполнена: 44%</p>
                    </div>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="border-outline">
                <h2 class="text-center">Загруженные письма</h2>
                <ul>
                    {% for file in files %}
                        <input type="radio" name="selectedFile" value="{{ file.file_name }}">
                        <label>{{ file.file_name }}</label>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userModalLabel">Список пользователей</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table id="example" class="stripe row-border order-column nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Имя</th>
                            <th>Фамилия</th>
                            <th>Email</th>
                            <th>Ник</th>
                            <th>Телефон</th>
                            <th>День рождения</th>
                            <th>Город</th>

                        </tr>
                    </thead>
                    <tbody>
                         {% for user in users %}
                            <tr>
                                <td class="dt-type-numeric select-checkbox dtfc-fixed-start dtfc-fixed-left" style="position: sticky; left: 0px;"><input type="checkbox"></td>
                                <td>{{ user.first_name }}</td>
                                <td>{{ user.last_name }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.phoneNumber }}</td>
                                <td>{{ user.birthdate }}</td>
                                <td>{{ user.city }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Выбрать</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.11.6/js/jquery.dataTables.js"></script>

<script>
    jQuery.noConflict();
    jQuery(document).ready(function($) {
        document.querySelectorAll('input[name="recipientType"]').forEach(function(radio) {
            radio.addEventListener('change', function () {
                if (this.value === 'selective') {
                    document.getElementById('selectUsersButton').style.display = 'inline-block';
                } else {
                    document.getElementById('selectUsersButton').style.display = 'none';
                }
            });
        });

        // Initialize DataTables when the modal is opened
        $('#userModal').on('shown.bs.modal', function () {
            $('#example').DataTable({
                columnDefs: [
                    {
                        orderable: false,
                        className: 'select-checkbox',
                        targets: 0
                    }
                ],
                fixedColumns: {
                    start: 2
                },
                order: [[1, 'asc']],
                paging: false,
                scrollCollapse: true,
                scrollX: true,
                scrollY: 300,
                select: {
                    style: 'os',
                    selector: 'td:first-child'
                }
            });
        });

        // Handle click event for "Select Users" button
        document.getElementById('selectUsersButton').addEventListener('click', function () {
            $('#userModal').modal('show');
        });
    });
</script>
{% endblock content %}
